
h1{
	font-size: 5vw;
}

.btn{
	margin-top: 10px;
	margin-bottom: 10px;
}

input[type="radio"]{
	display: none;
}

input[type="text"]{
	width: 40%;
}

input[type="password"]{
	width: 35%;
}

.tab_area{
	padding-top: 10px;
	background: #DDDDFF;
}

.tab_head label{
	width: 40vw;
	height: 10%;
	margin: 0 5px;
	display: inline-block;
	padding: 12px 0;
	text-align: center;
	font-size: 1.8vw;;
}

#idiom_select{
	width: 80%;
	height: 5vh;
	font-size: 2vh;
	background: #FFAAAA;
	color: #FFFFFF;
}

#filter_word_area{
	width: 80%;
	height: 5vh;
	background: #FFAAAA;
}

#idiom_dictionary{
	width: 80vw;
	font-size: 3vw;
}

#study_list{
	width: 80vw;
	font-size: 2vw;
}

#add_study_form{
	padding-bottom: 10px;
}

#input_form{
	padding-top: 10px;
	padding-bottom: 10px;
}
