<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Vue.jsのテスト</title>
		<script src="vue.js"></script>

		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="idiom_dict.css"/>
	</head>
	<body>

		<div class="container">
			<h1>開発関係辞書まとめ</h1>
		</div>

		<div class="tab_wrap">
			<div class="tab_head" id="select_tab">
				<input id="tab1" type="radio" name="tab_btn" value="イディオム辞書" v-model="selected_mode" v-on:change="onChange">
				<input id="tab2" type="radio" name="tab_btn" value="勉強内容メモ" v-model="selected_mode" v-on:change="onChange">
				<label class="tab_label" id="tab1_label" for="tab1">イディオム辞書</label>
				<label class="tab_label" id="tab2_label" for="tab2">勉強内容メモ</label>
			</div>

			<div class="tab_area">
				<div id="idiom_dictionary" v-show="display">
					<table class="table">
						<thead>
							<!--- 項目行でループして各メンバを並べてtheadにする -->
							<tr>
								<th v-for="(value, key) in columns">
									{{value}}
								</th>
							</tr>
						</thead>

						<tbody>
							<!--- tbodyは項目行のキーで各行のメンバを並べて1行を形成する --->
							<tr v-for="word in words">
								<td v-for="(value, key) in columns">
									{{word[key]}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div id="study_list" v-show="display">
					<table class="table">
						<thead>
							<tr>
								<th v-for="(value, key) in columns">
									{{value}}
								</th>
							</tr>
						</thead>

						<tbody>
							<tr v-for="word in list">
								<td v-for="(value, key) in columns">
									{{word[key]}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>

		</div>

		</div>
		<script src="idiom_dict.js"></script>
	</body>
</html>
