<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>開発関係覚え書き</title>
		<script src="vue.js"></script>

		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="idiom_dict.css"/>
	</head>
	<body>

		<div class="container">
			<h1>開発関係辞書まとめ</h1>
		</div>
		<div class="tab_wrap">
			<div class="tab_head" id="select_tab">

				<input id="tab1" type="radio" name="tab_btn"
					v-on:change="idiom_display"
					v-model="checked"
					v-bind:value="checked">

				<input id="tab2" type="radio" name="tab_btn"
				 v-on:change="study_display">

				<label class="tab_label" id="tab1_label" for="tab1" v-bind:style="tab_style">イディオム辞書</label>
				<label class="tab_label" id="tab2_label" for="tab2" v-bind:style="tab_style">勉強内容メモ</label>
			</div>

			<div class="tab_area">
				<div id="idiom_dictionary" v-show="display">

					<select v-model="select_category" class="form-control" id="idiom_select">
						<option value="">種類(全体)</option>
						<option v-for="(value, key) in items" v-bind:value="key">
							{{value}}
						</option>
					</select>

					<table class="table">
						<thead>
							<!--- 項目行でループして各メンバを並べてtheadにする -->
							<tr>
								<th v-for="(value, key) in columns">
									{{value}}
								</th>
							</tr>
						</thead>

						<tbody>
							<!--- tbodyは項目行のキーで各行のメンバを並べて1行を形成する --->
							<tr v-for="word in filter_items">
								<td v-for="(value, key) in columns">
									{{word[key]}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div id="study_list" v-show="display">
					<input type="text" v-model="filter_word" id="filter_word_area"><br>
					<table class="table">
						<thead>
							<tr>
								<th v-for="(value, key) in columns">
									{{value}}
								</th>
							</tr>
						</thead>

						<tbody>
							<tr v-for="word in filter_study_item">
								<td v-for="(value, key) in columns">
									{{word[key]}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>

		</div>

		</div>
		<script src="idiom_dict.js"></script>
	</body>
</html>
